<%=render_partial("/header")%>
<div id="body">
    <div id="content">
        <div id="location">
            <div class="title">
                <%= @location %>
            </div>
        </div>
        <%= @content_for_layout %>
    </div>
    <%= render_component(:controller=>"menu",:action => "mainMenu",:params=>{:currentMenu=>@currentMenu})%>      
    <%= render(:partial =>"/ad") %>
</div>
<%=render_partial("/footer")%>
