<img id="demoPic" src="img/home.jpg" alt="Lifebook" />
<div class="introduction">
想要大家发给你想要的电子书吗？
• 想找更多实用的学习资料吗？
• 想找更多免费游戏玩吗？
• 想告诉大家你的困难吗？
• 想免费下载有用的东西吗？
• 想结交更多志同道合的朋友吗?
• 想跟各种各样的朋友聊聊天吗?
• 想下载最新电影吗? 
• 想要更多.....
<br/>
<%=link_to "请加入Facebook2",:controller=>"user",:action=>"register"%>
</div>