        <div id="footer">
            Project FaceBook2 v1.0(Hlxwell) | Copyright @ 2007 <a href="http://facebook2.cn" target="_blank">FaceBook2</a> | Powered by <a href="http://chinaonrails.com" target="_blank">ChinaonRails</a>
        </div>        
    </div>
    <%= render(:partial =>"/count") %>
</body>
</html>